/*
* @Author: Akshata
* @Date:   2018-06-28 00:05:30
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-29 21:17:43
*/

.page--results{
	display: flex;
	flex-direction: column;
}

.page__header{
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-between;

	background: none;
}

.page__content{
	display: flex; 
	flex-direction: column;

	margin-top: 45px;
}

.page__content__subheading{
	font-weight: 100;
	font-size: 1.6em;
	line-height: 2em;
}

.highlight{
	color: #E6CB68;
	font-weight: 600;
}



.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
  font-size: 32px;
}

.toolbar__row{
	padding: 0px;
}
