/*
* @Author: Akshata
* @Date:   2018-06-28 00:05:30
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-28 20:32:12
*/

.page--results{
	text-align: center;

	display: flex;
	flex-direction: column;
}

.page__content-wrapper{
	display: flex; 
	flex-direction: column;
}