/*
* @Author: Akshata
* @Date:   2018-06-28 00:05:15
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-28 22:34:24
*/
.page--landing{
	padding-top: 100px;
	text-align: center;
}

.page__content-wrapper{
	display: flex; 
	flex-direction: column;
}