/*
* @Author: Akshata
* @Date:   2018-06-28 00:05:15
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-29 21:28:01
*/
.page--landing{
	margin-top: 90px;
}

.page__content-wrapper{
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.page__element--description{

}

.page__element--full-width{
	width: 100%;
}