/*
* @Author: Akshata
* @Date:   2018-06-27 22:02:15
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-28 21:06:32
*/


.wrapper__idea{
	background-color: white;
	padding: 15px;

	color: black;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 4px;

	margin: 15px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.idea__actions{
	position: relative;
}

.wrapper--right{
}

.icon{
	cursor: pointer;
}