<form class="search__wrapper example-form" [class.compressed]="compressed">
	
	<mat-form-field class="example-full-width">
		<input matInput 
			   placeholder="First Idea"
			   [(ngModel)]='wordA' 
			   name='wordA'/>
	</mat-form-field>

	<span><mat-icon>add</mat-icon></span>

	<mat-form-field class="example-full-width">
		<input matInput 
			   placeholder="Second Idea"
			   [(ngModel)]='wordB' 
			   name='wordB'/>
	</mat-form-field>

	<a class="btn search__button" 
		*ngIf="wordA && wordB"
		[routerLink]="['/results']" [queryParams]="{wordA: wordA, wordB: wordB}">

		<button mat-raised-button color="accent" *ngIf="!compressed">Get Ideas!</button>
		<button mat-raised-button color="accent" *ngIf="compressed"><mat-icon>refresh</mat-icon></button>

	</a>

</form>
