/*
* @Author: Akshata
* @Date:   2018-06-27 22:01:46
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-29 21:31:59
*/

.search__wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 30px 0px;
}	


.compressed{
	flex-direction: row;
}

.disabled{
	pointer-events: none;
}


.btn--square{
	width: 45px;
	height: 45px;
	min-width: 10px;
	margin: 0px;
	padding: 0px;
}


input{
	font-size: 24px;
	line-height: 32px;
	color: gray;
	font-weight: 100;
	font-family: 'Raleway';
}

.form__element{
	margin-bottom: 30px;
}

.icon--plus{
	margin-top: 15px;
}