/*
* @Author: Akshata
* @Date:   2018-06-27 22:01:46
* @Last Modified by:   Akshata
* @Last Modified time: 2018-06-28 21:04:32
*/
.search__wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	margin: 30px 0px;
}	

.compressed{
	flex-direction: row;
}

.compressed .search__inputs{
	font-size: 16px;
	line-height: 18px;
	padding: 4px;
}

.compressed .search__button{
	height: 24px;
	width: 24px;
	margin-top: 0px;
	line-height: 24px;
}

.search__inputs{
	background: transparent;
	font-size: 25px;
	font-weight: 300;

	margin: 25px 0px;
	padding: 5px;

	border: 0px;
	border-bottom: 1px solid gray;
	text-align: center;

}

.search__button{
	height: 50px;

	font-size: 18px;
	line-height: 50px;
	text-transform: uppercase;

	padding: 10px;

	border: 1px solid #222; 
	background-color: black;
	color: #f7f7f7;
	border-radius: 4px;
	text-align: center;
}

