/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,600|Raleway');

html{
	width: 100%; 
	height: 100%; 

	position: relative;

	font-family: 'Raleway', sans-serif !important;
}

body{
	position: relative;

	font-size: 16px;
	line-height: 28px; 

	background-color: #f7f7f7;
}

a{
	text-decoration: none;
	color: inherit;
}

a::visited{
	text-decoration: inherit;
	color: #222;
}

*:focus{
	outline: none !important;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.page{
	margin: 0 auto;
	max-width: 600px;
}


.logo{
	font-weight: 600;
	background-color: #ffd740;
	padding: 5px;
	border-radius: 4px;
	font-family: 'Raleway';
}


/*
 *	Media Queries
 */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {	
	.page--responsive{
		padding: 30px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {	
	.page--responsive{
		padding: 30px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {	
	.page--responsive{
		padding: 45px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {	
	.page--responsive{
		padding: 60px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}